<div class="load-skills-container">
  <button class="button" (click)="loadSkills()">Load Skills</button>
</div>

<ul class="skill-list" id="skillsList">
  <li class="skill-item" *ngFor="let skill of skills; trackBy: trackSkills">
    <span class="skill-name">{{ skill.name }} </span>
    <button class="button button-remove" (click)="removeSkill(skill.id)">Remove</button>
  </li>
</ul>



<div class="new-skill-container">
  <input type="text" placeholder="Type your new skill" #skill>
  <button class="button" (click)="addSkill(skill.value)">Add Skill</button>
</div>

