<div>
  Full status:
  <span>{{ fullStatus }}</span>
</div>


<div>
  <h3>Set status (Mobx Store)</h3>
  <button (click)="setStatus('pending')">Pending</button>
  <button (click)="setStatus('approved')">Approved</button>
  <button (click)="setStatus('declined')">Declined</button>
</div>

<div>
  <h3>Set type</h3>
  <button (click)="setType('bug')">Bug</button>
  <button (click)="setType('task')">Task</button>
  <button (click)="setType('feature')">Feature</button>
</div>

<ul class="incident-list">
  <li class="incident-list-item" *ngFor="let incident of store.state.incidentList">
    <span>
      Incident: {{ incident.title }}
    </span>
    <span>
      - {{ incident.type }}
    </span>
  </li>
</ul>

<section class="add-incident-section">
  <h3>Add new Incident</h3>
  <input type="text" placeholder="Incident Title" [(ngModel)]="incidentTitle">
  <input type="text" placeholder="Incident Type" [(ngModel)]="incidentType">
  <button (click)="addIncident()">Add Incident</button>
</section>
