<h2>Register</h2>
<form [formGroup]="userForm">
  <label for="fullName">Full Name</label>
  <input id="fullName" type="text" placeholder="Fullname" formControlName="fullname"
         name="fullname" required>

  <label for="email">Email</label>
  <input id="email" type="text" placeholder="Email" formControlName="email"
         name="email" required>

  <label for="password">Password</label>
  <input id="password" type="text" placeholder="Password" formControlName="password"
         type="password" name="password" required>

  <button (click)="register()" color="primary">Register</button>
  <span>Already have an account ? <a [routerLink]="['/login']">login</a> here</span>
</form>


