<div class="login-component form-container">
  <h2 class="form-title">Login</h2>

  <form [formGroup]="authForm" (submit)="login()">
    <fieldset class="form-row">
      <label class="form-label" for="email">Email</label>
      <input class="form-input" id="email" type="text" placeholder="Email" formControlName="email"
             name="email" required>
    </fieldset>

    <fieldset class="form-row">
      <label class="form-label" for="password">Password</label>
      <input class="form-input" id="password" type="password" placeholder="Password" formControlName="password"
             name="password" required>
    </fieldset>

    <button class="form-button" type="submit">Login</button>
    <div class="form-paragraph">
      Don't have an account?
      <div>
        <a class="app-link" [routerLink]="['/register']">Register here</a>
      </div>
    </div>
  </form>
</div>
